<h2><%= @restaurant.name %></h2>
<p>
  Address: <%= @restaurant.address %>, <%= @restaurant.city %>, <%= @restaurant.state %>, <%= @restaurant.zip_code %>.
</p>
<p>
  Category: <%= @restaurant.category %>
</p>
<p>
  Description: <%= @restaurant.description %>
</p>
